*{
  max-width: 750px;
    margin: 0 auto;
    border: 0px solid #dcc2c2;
    padding: 0px;
    
/*
    background-image: url("../images/bg11.webp");
    
    background-repeat: no-repeat;
    background-position: center;

 */

}


    body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(90deg,#43b53bbe,#012401);
  
 
}


.navbar {
  font-size:medium;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 15px;
  cursor: pointer;
}

.background {
 /* background: black;*/
  background-blend-mode:darken;
  background-size: cover;
  border-radius: 100px;

}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}
/*
.topdestinations img
{
  padding: 2px;
  width: 200px;
  height: 100px;
  margin: 2px;
  gap: 30px;
  border-radius: 40px;
}
  
  .topdestinations table p
  { 
    font-size: 20px;
    font-weight: 200;
    padding: 3px;
    text-align: center  ;
    color:midnightblue;
     font-family:Arial, Helvetica, sans-serif;

  }
  */


    
  /*top destination homepage section starts*/
#topdes {
  
  padding: 2px;
  background: linear-gradient(90deg,#43b53bbe,#012401);
  /*background: linear-gradient(90deg,#c50e0e,#dfda56);*/

}
.topdestination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1rem;
}

.topdestination .box-container .box {
  text-align: center;
  padding: -1rem;
  justify-content: center;
 
  
}

.topdestination .box-container .box img {

  margin-bottom: 1rem;

  padding: 3px;
  width: 300px;
  height: 150px;
  margin: 2px;
  gap: 10px;
  border-radius: 20px;
}

.topdestination .box-container .box h3 
{
  display: grid;
   
  color: #ebf4eb;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
   
  text-align:left;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
 
}

/*
  .topdestination .box-container .box h3::after {
    content: "";
    display: flex;
  
    width:80px;
  
    border-bottom: 3px solid #12d82f;
    left: 2px;
    top: 2px;
    z-index:-1000 ;
   }
*/
  .btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
  

 
}

 .btn-sm {
  border-radius: 20PX;
 text-align: center;
  padding: 6px 10px;
  vertical-align: middle;

 
}
/*top destination homepage section starts*/
#dist{
  
  padding: 2px;
  background: linear-gradient(90deg,#43b53bbe,#012401);

}
.districts .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}

.districts .box-container .box {
  text-align: center;
  padding: -1rem;
  justify-content: center;

  
}

.districts .box-container .box img {

  margin-bottom: 1rem;

  padding: 5px;
  width: 200px;
  height: 200px;
  margin: 2px;
  gap: 5px;
  border-radius: 50%;
}

.districts .box-container .box h3 
{
  display: grid;
   
  color: #1c1e1c;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  color: #dcc2c2;
  text-align:center;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
 
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-list li {
  
  list-style: none;
  font-weight: 200px;
  font-size: 20px;
  padding:5px ;
  margin-right:10px;
  font-family:Arial, Helvetica, sans-serif;
  
}

.nav-list li a {
  text-decoration: none;
  color: white;
  
}

.nav-list li a:hover {
  color: grey;
}



.rightnav {
  width: 30%;
  text-align: right;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
          }

.firstsection {
  background-color: rgb(197, 241, 197);
  
              }

.secondsection {
  background-color: rgb(197, 241, 197);

              }

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(16, 16, 16);
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font:bold;
}

.secondhalf {
  width: 30%;
}

.secondhalf img {
  width: 70%;
  border: 4px solid white;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.text-big {
  font-family: 'Piazzolla', serif;
  font-weight: bold;
  font-size: 35px;
  margin: 10px;
  color: #ebf4eb;
}

.text-small {
  font-size: 18px;
  color: #dcc2c2;
}



.section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;

}

.section-Left {
  flex-direction: row-reverse;
}

.paras {
  padding: 0px 65px;
}

.thumbnail img {
  width: 250px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 19px;
}

.center {
  text-align: center;
}

.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
}


.rightnav {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

#search {
  box-sizing: border-box;
  width: 70%;
  padding: 8px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}


img {
  max-width: 100%;
  height: auto;
  
}
/* Call-to-action button styles */
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  
}
/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
}

/* Social media links styles */
.social-media {
  list-style-type: none;
}

.social-media li {
  display: inline;
  margin-right: 10px;
}

.social-media li a {
  color: #fff;
  text-decoration: none;
}
.form-control {
  text-align: left;
  margin-bottom: 25px;
 
}
.dist
{list-style: none;
  text-decoration: none;
}
.dist li a
{
  color: rgb(17, 13, 28); 
  text-decoration: none;
   font-family:Arial, Helvetica, sans-serif;
   font-size:larger;
}
.dist li img
{
  border-radius: 20px;
  width: 100px;
  height: 70px;
  padding: 2px;
  margin: 30px;
}
/* Styling form-control Label */
.form-control{
  justify-content: center;

  
}
.form-control label {
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
  color:black;
   }

/* Styling form-control input, 
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 20px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
   
  
}
select {
  margin-bottom: 10px;
  margin-top: 10px;
}
.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

 

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}