*{max-width: 750px;
    margin: 0 auto;
    border: 0px solid #dcc2c2;
    padding: 0px;
    
/*
    background-image: url("../images/bg11.webp");
    
    background-repeat: no-repeat;
    background-position: center;

 */

}


    body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(90deg,#c50e0e,#dfda56);
  
 
}
div{    
  margin:6x;
  padding: 2px;

}
 

.navbar {
  font-size:medium;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 15px;
  cursor: pointer;
}

.background {
  background: black;
  background-blend-mode: darken;
  background-size: cover;
  border-radius: 50px;

}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}
.topdestinations img
{
  padding: 2px;
  width: 200px;
  height: 100px;
  margin: 2px;
  gap: 30px;
  border-radius: 40px;
}
  
  .topdestinations table p
  {
    font-size: 20px;
    font-weight: 200;
    padding: 3px;
    text-align: center  ;
    color:midnightblue;
     font-family:Arial, Helvetica, sans-serif;

  }
  
    
  


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
  border-radius: 75px;
}

.nav-list li {
  
  list-style: none;
  padding: 26px 30px;
  padding: 10px;
  margin-right: 20px;
  font-family:Arial, Helvetica, sans-serif;
  
}

.nav-list li a {
  text-decoration: none;
  color: white;
  
}

.nav-list li a:hover {
  color: grey;
}



.rightnav {
  width: 30%;
  text-align: right;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
          }

.firstsection {
  background-color: rgb(197, 241, 197);
  
              }

.secondsection {
  background-color: rgb(197, 241, 197);

              }

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondhalf {
  width: 30%;
}

.secondhalf img {
  width: 70%;
  border: 4px solid white;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.text-big {
  font-family: 'Piazzolla', serif;
  font-weight: bold;
  font-size: 35px;
}

.text-small {
  font-size: 18px;
}

.btn {
  padding: 8px 20px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}

.section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

.section-Left {
  flex-direction: row-reverse;
}

.paras {
  padding: 0px 65px;
}

.thumbnail img {
  width: 250px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 19px;
}

.center {
  text-align: center;
}

.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
}


.rightnav {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

#search {
  box-sizing: border-box;
  width: 70%;
  padding: 8px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}

.btn-sm {
  padding: 8px 20px;
  margin: 7px 5px;
}

img {
  max-width: 100%;
  height: auto;
  
}
/* Call-to-action button styles */
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  
}
/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
}

/* Social media links styles */
.social-media {
  list-style-type: none;
}

.social-media li {
  display: inline;
  margin-right: 10px;
}

.social-media li a {
  color: #fff;
  text-decoration: none;
}
.form-control {
  text-align: left;
  margin-bottom: 25px;
 
}
.dist
{list-style: none;
  text-decoration: none;
}
.dist li a
{
  color: rgb(17, 13, 28); 
  text-decoration: none;
   font-family:Arial, Helvetica, sans-serif;
   font-size:larger;
}
.dist li img
{
  border-radius: 20px;
  width: 100px;
  height: 70px;
  padding: 2px;
  margin: 30px;
}
/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-control input, 
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 20px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}
select {
  margin-bottom: 10px;
  margin-top: 10px;
}